@model LoginForm

<!-- Delete me -->
@*<h3 class="text-center">LOGIN</h3>
    <div class="container">
        <div class="text-center">
            <form asp-action="Login" method="post">
                <div>
                    <label>Username</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div>
                    <label>Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="ReturnUrl" />
                <input type="submit" class="btn btn-primary" />
            </form>
        </div>
    </div>*@


<!-- Main Page UI -->
<div class="container">
    <div class="row" style="margin-bottom: 18px;">
        <div class="col justify-content-xxl-end"><img class="img-fluid" src="~/img/CK_anim_03.gif" style="padding: 0;padding-left: 0;width: 277px;"></div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="d-md-flex justify-content-md-center align-items-md-center" style="font-family: 'Akaya Kanadaka', serif;color: #00205b;text-align: center;">Let's Finish The Class</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p style="color: #adc7dc;font-family: 'Arima Madurai', serif;">The Fastest Method To Take Attendance</p>
        </div>
    </div>
    <div class="btn-group" role="group" style="padding-bottom: 18px;text-align: center;">
        <button class="btn btn-primary" id="first" type="button" style="font-family: 'Arima Madurai', serif;color: rgb(0,32,91);background: #adc7dc;border-style: none;margin-left: 16px;width: 160.203px;font-size: 20px;border-radius: 4px;" data-bs-toggle="modal" data-bs-target="#student_modal">I'm Student</button>
        <button class="btn btn-primary" id="first" type="button" style="font-family: 'Arima Madurai', serif;color: rgb(0,32,91);background: #adc7dc;border-style: none;width: 160.203px;font-size: 20px;border-radius: 4px;" data-bs-toggle="modal" data-bs-target="#instructor_modal">I'm Instructor</button>
    </div>
</div>

<!-- Popups-->
<!-- Forget password modal -->
<div class="modal fade" role="dialog" tabindex="-1" id="forget_pass_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <section class="login-clean">
                <form class="row g-3 needs-validation" method="post" novalidate>
                    <h2 class="visually-hidden">Forget Form</h2>
                    <div class="illustration">
                        <img src="~/img/reset_icon.png">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="email" name="email" placeholder="Email" required>
                        <div class="invalid-feedback">
                            please type your email
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit" style="color: #00205b;background: #adc7dc;">Reset Password</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


<!-- Modal - 2 way verification code through SMS-->

<div class="modal fade" role="dialog" tabindex="-1" id="activate_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <section class="login-clean">
                <form class="row g-3 needs-validation" method="post" novalidate>
                    <h2 class="visually-hidden">Activiate Form</h2>
                    <div class="illustration">
                        <img src="~/img/users-checked-user-icon.png">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" name="code" placeholder="code" required>
                        <div class="invalid-feedback">
                            please type your Activiation code
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit" style="color: #00205b;background: #adc7dc;">Activate Account</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


<!-- Instructor login modal -->
<div class="modal fade" role="dialog" tabindex="-1" id="instructor_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <section class="login-clean">
                <form class="row g-3 needs-validation" method="post" novalidate>
                    <h2 class="visually-hidden">Login Form</h2>
                    <div class="illustration">
                        <img src="~/img/noun_Teacher_26694.png">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="email" name="email" placeholder="Email" required>
                        <div class="invalid-feedback">
                            please type your email
                        </div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                        <div class="invalid-feedback">
                            please type your password
                        </div>
                        <a class="text-end forgot" href="#" data-bs-toggle="modal" data-bs-target="#activate_modal" data-bs-dismiss="modal"> Forgot password?</a>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="text-start forgot" for="formCheck-1">Remember me</label>
                        </div>
                        <button class="btn btn-primary d-block w-100" type="submit" style="color: #00205b;background: #adc7dc;">Log In</button>
                    </div>
                    <a class="forgot" href="#" data-bs-toggle="modal" data-bs-target="#instructor_modal-signup" data-bs-dismiss="modal">Don't have account? Sign Up</a>
                </form>
            </section>
        </div>
    </div>
</div>



<!-- Student login modal-->
<div class="modal fade" role="dialog" tabindex="-1" id="student_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <section class="login-clean">
                <form method="post" asp-action="Login" class="row g-3 needs-validation" novalidate>
                    <h2 class="visually-hidden">Login Form</h2>
                    <div class="illustration">
                        <img src="~/img/student_icon.png">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Username" placeholder="email" required>
                        <div class="invalid-feedback">
                            please type your email
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="Password" placeholder="Password" required>
                        <div class="invalid-feedback">
                            please type your password
                        </div>
                        <a class="text-end forgot" href="#" data-bs-toggle="modal" data-bs-target="#forget_pass_modal" data-bs-dismiss="modal"> Forgot password?</a>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="text-start forgot" for="formCheck-1">Remember me</label>
                        </div>
                        <button class="btn btn-primary d-block w-100" type="submit" style="color: #00205b;background: #adc7dc;">Log In</button>
                    </div>
                    <a class="forgot" href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#student_modal-signup">Don't have account? Sign up</a>
                </form>
            </section>
        </div>
    </div>
</div>


<!-- Student signup modal -->
<!-- Must assign student role in this modal -->
<div class="modal fade" role="dialog" tabindex="-1" id="student_modal-signup">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <partial name="~/Views/Auth/_RegisterStudent.cshtml" model="new RegisterForm()" />

            <!-- Old student sign up section-->
            @*<section class="login-clean">
                <form class="row g-3 needs-validation" method="post" novalidate>
                    <h2 class="visually-hidden">Login Form</h2>
                    <div class="illustration">
                        <img src="~/img/student_icon.png">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" name="name" placeholder="Name" required>
                        <div class="invalid-feedback">
                            please type your name
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Email" required inputmode="email" />
                        <div class="invalid-feedback">
                            please type a valid email
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Password" required minlength="8" id="password" />
                        <div class="invalid-feedback">
                            please type a password with minmum 8 character
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" required id="confirm_password" />
                        <div class="invalid-feedback">
                            password must match
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit" style="color: #00205b;background: #adc7dc;">Sign Up</button>
                    </div>
                    <a class="forgot" href="#" data-bs-dismiss="modal" data-bs-target="#student_modal" data-bs-toggle="modal">Already have an account? Sign In</a>
                </form>
            </section>*@
        </div>
    </div>
</div>


<!-- Instructor signup modal -->
<!-- Teacher role is already assign in the partial view -->
<div class="modal fade" role="dialog" tabindex="-1" id="instructor_modal-signup">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <partial name="~/Views/Auth/_RegisterInstructor.cshtml" model="new RegisterForm()" />


            <!-- The old signup section -->
            @*<section class="login-clean">
            <form class="row g-3 needs-validation" method="post" novalidate>
                <h2 class="visually-hidden">Login Form</h2>
                <div class="illustration">
                    <img src="~/img/noun_Teacher_26694.png">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="name" placeholder="Name" required>
                    <div class="invalid-feedback">
                        please type your name
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                    <div class="invalid-feedback">
                        please type a valid email
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" placeholder="Password" id="password2" required minlength="8">
                    <div class="invalid-feedback">
                        please type a password with minmum 8 character
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" required id="confirm_password2">
                    <div class="invalid-feedback">
                        password must match
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary d-block w-100" type="submit" style="color: #00205b;background: #adc7dc;">Sign Up</button>
                </div>
                <a class="forgot" href="#" data-bs-dismiss="modal" data-bs-target="#instructor_modal" data-bs-toggle="modal">Already have an account? Sign in</a>
            </form>
        </section>*@
        </div>
    </div>
</div>
