@model RegisterForm


<h3 class="text-center">As Student</h3>
<div class="container">
    <div class="text-center">
        <form asp-action="Register" method="post">

            <div>
                <label>Role</label>
                <select asp-items="Html.GetEnumSelectList<Roles>()" asp-for="Role"></select>
            </div>
            <div>
                <label>Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label>Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <label>Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label>Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>