<!DOCTYPE html>
<html class="text-center" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , shrink-to-fit=no" />
    <title>@ViewData["Title"] - Attendance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arima+Madurai">
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/css/Footer-Clean.css">
    <link rel="stylesheet" href="~/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="~/css/Navigation-Clean.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body style="border-radius: 4px;">

    <header>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: linear-gradient(#e0e2e6 74%, white 99%), #e0e2e6;">
            <div class="container">
                <a class="navbar-brand" href="#"></a>
                <div class="col">
                    <div class="row">
                        <div class="col" style="text-align: left;"><img src="~/img/logo.png" style="width: 128px;text-align: left;"></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            <p style="font-family: 'Akaya Kanadaka', serif;color: #adc7dc;border-color: var(--bs-primary);">Fast Attendance System</p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>


    <footer class="footer-clean" style="background: rgb(224,226,230);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Attendance System © 2021</p>
                </div>
            </div>
        </div>
    </footer>


    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Attendance - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sign_up_validate.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>